*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background: chocolate;/*Fondo de la ´pagina*/
}

.contenedor{
    width: 96%;
    max-width: 1000px;/*Anchura maxima de 1000px referente al 96%*/
    margin: 20px auto;/*Central elemento*/
    overflow: hidden;
}

header{
    background: #FFFFFF;
}

header nav{
    /*width: 100px*/
}

header nav ul{
    list-style: none;
    overflow: hidden;
}

header nav ul li{
 float: left;
}

header nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: black;
    padding:  15px 20px;
}

header nav ul li a:hover{
   background: #000;
    color: #FFFFFF;
}

.main{
    float: left;/*para posicionar*/
    width: 70%;
    background: brown; /*poner color de fondo a la clase selecionada*/

    color: #FFFFFF;
}

.main .imagen{
    width: 100%; /*Ancho de la imagen*/

}
.main .imagen img{
    width: 100%;
}
.main section article{
    width: 100%;
    background: deepskyblue;

}
.main section article h2{
     color: #000;
     margin-bottom: 20px;
 }

.main section article p{
    color: #000;
    margin-bottom: 20px;
    line-height: 27px;/*Espacio para las lineas*/
}

aside{
    width: 30%;
    float: left;
    background: deepskyblue;
    padding:  20px;
    color: black;
}

aside .widget{
    margin-bottom: 20px;
}
aside .widget h3{
    color: #ff80000;
    border-bottom: 1px solid #FFFFFF;
}

aside .widget ul{
    list-style: none;
}

aside .widget ul li{
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 10px 0;
}

aside .widget ul li a{
    color: #FFFFFF;
    text-decoration: none;
}
/*aside .widget ul li:hover {

 background: black;

}*/


aside .widget ul li a:hover {

    color: #000000;

}

aside .widget p{
    line-height: 27px;
}

footer{
    width: 70%;
    text-align: center;
    background:  #000000;
    color: #FFFFFF;
    padding:  25px 0;
}


